{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "requirePragma": true
      }
    },
    {
      "files": "app/blog/[slug]/_blogPost/*.tsx",
      "options": {
        "requirePragma": true
      }
    },
    {
      "files": "wrangler.jsonc",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
