:root {
  --vertical-padding: 0.5rem;
  --horizontal-padding: 0.5rem;

  --vertical-gap: calc(var(--vertical-padding) * 0.5);
  --horizontal-gap: calc(var(--horizontal-padding) * 0.5);

  box-sizing: content-box;
}

/******************
*** Full Screen ***
*******************/

html,
body {
  margin: 0;
  height: 100%;
  width: auto;
}

/*************
*** Mobile ***
**************/
:root {
  --is-mobile: false;
}

@media (max-width: 768px) {
  :root {
    --is-mobile: true;
  }
}

/********************************
*** override margin / padding ***
*********************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
