.root {
  border: 1px solid black;
  background-color: var(--playground-bacground-color);
}

.grid {
  display: grid;

  gap: calc(var(--vertical-gap) * 2);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "liveEditorLabel livePreviewLabel"
    "liveEditor livePreview";
}

@container style(--is-mobile: true) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content 1fr;
    grid-template-areas:
      "liveEditorLabel"
      "liveEditor"
      "livePreviewLabel"
      "livePreview";
  }
}

.liveEditorLabel {
  grid-area: liveEditorLabel;
}

.liveEditor {
  grid-area: liveEditor;
}

.livePreviewLabel {
  grid-area: livePreviewLabel;
}

.livePreview {
  grid-area: livePreview;
}

/* hint: override react-live, that used style can't override */
pre.liveElement,
.liveElement > pre {
  background-color: unset !important;
  padding: unset !important;
  margin: unset !important;
}

/* hint: override react-live, that used style can't override */
.livePreview > div {
  height: 100% !important;
}
