.root {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.children {
  position: relative;

  height: 100%;
}

.overlayAsBackground {
  overflow: auto;

  height: unset;
  max-height: 100%;
  min-height: 100%;
}
